@model BitirmeProjesi.Models.BrandModel

<h4>Model Ekle</h4>
<form asp-controller="Create" asp-action="CreateModelPartial" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label for="categorySelect" class="form-label">Kategori Seçin:</label>
        <select id="categorySelect" name="categoryId" class="form-select" onchange="getBrandsByCategory(this.value);">
            <option value="">Kategori Seçiniz</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
        <span asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3">
        <label for="brandSelect" class="form-label">Marka Seçin:</label>
        <select asp-for="BrandId" id="brandSelect" class="form-select">
            <option value="">Marka Seçiniz</option>
            @foreach (var brand in ViewBag.Brands)
            {
                <option value="@brand.Value">@brand.Text</option>
            }
        </select>
        <span asp-validation-for="BrandId"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ModelName" class="form-label"></label>
        <input asp-for="ModelName" class="form-control">
        <span asp-validation-for="ModelName"></span>
    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>
