@model IEnumerable<BitirmeProjesi.Models.Category>
<div class="row">
    <div class="col-md-3">
        <partial name="CategoryTreePartial" model="Model" />
    </div>

    <div class="col-md-9" style="background-color: red;">
        
    </div>
</div>
